<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="webthemez">
    <title>{{data.slug}}</title>
	<!-- core CSS -->
    <link href="/templates/9/css/bootstrap.min.css" rel="stylesheet">
    <link href="/templates/9/css/font-awesome.min.css" rel="stylesheet">
    <link href="/templates/9/css/animate.min.css" rel="stylesheet"> 
    <link href="/templates/9/css/prettyPhoto.css" rel="stylesheet">
    <link href="/templates/9/css/styles.css" rel="stylesheet"> 
    <!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
    <script src="js/respond.min.js"></script>
    <![endif]-->       
    <link rel="shortcut icon" href="/templates/9/images/ico/favicon.ico"> 
        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,600">
        <link rel="stylesheet" href="/templates/12/assets/css/bootstrap.min.css">
        <!-- FancyBox -->
        <link href="/templates/12/assets/css/fancybox/jquery.fancybox.css" rel="stylesheet">
        <link rel="stylesheet" href="/templates/12/assets/css/style.css"> 
        <link rel="stylesheet" href="/templates/12/assets/css/animate.min.css">
        <link rel="stylesheet" href="/templates/12/assets/css/font-awesome.min.css">

</head> 
    
    {% if data.pricing.all %}
    {% include 'pricing.html'%}
    {% endif%}
   
  
    <footer id="footer">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    &copy; 2016 Company Name. Template by <a target="_blank" href="http://webthemez.com/" title="Free Bootstrap Themes and HTML Templates">WebThemez.com</a>
                </div>
                <div class="col-sm-6">
                    <ul class="social-icons">
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                        <li><a href="#"><i class="fa fa-linkedin"></i></a></li> 
                        <li><a href="#"><i class="fa fa-youtube"></i></a></li>
                        <li><a href="#"><i class="fa fa-github"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer><!--/#footer-->

    <script src="/templates/9/js/jquery.js"></script>
    <script src="/templates/9/js/bootstrap.min.js"></script> 
    <script src="/templates/9/js/mousescroll.js"></script>
    <script src="/templates/9/js/smoothscroll.js"></script>
    <script src="/templates/9/js/jquery.prettyPhoto.js"></script>
    <script src="/templates/9/js/jquery.isotope.min.js"></script>
    <script src="/templates/9/js/jquery.inview.min.js"></script>
    <script src="/templates/9/js/wow.min.js"></script>
    <script src="/templates/9/js/custom-scripts.js"></script>
</body>
</html>