{% load static %}
<html>
<head>
  <link rel="shortcut icon" href="{% static 'images/icons8-puzzle-64.png' type='image/x-icon' %}">
	<link href="{% static 'style.css' %}" rel="stylesheet" media="screen" />
	<link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet" media="screen" />
  <script src="{% static 'jscolor.js' %}"></script>
  <script src="static/scripts/main.js"></script>

{% block title %}
  <title>Title</title>
{% endblock%}

{% include 'custom/style.html' %}
{% include 'custom/hover.html' %}
{% block css %}
{% include 'custom/navbar.html' %}
{% endblock %}

{% block head %}
{% endblock %}

</head>
{% block navbar %}
		{% if messages %}
          {% for message in messages %}
           <div class="alert alert-{{ message.tags }}">
                {{ message }}
           </div>
          {% endfor %}
        {% endif %}
{% endblock navbar %}


<body>

{% block content %}
{% endblock content %}

{% block javascript %}
{% include 'custom/javascript.html' %}
{% endblock javascript %}
</body>

</html>