{% extends "base.html" %}
{% load static %}

{% block content %}
// Simple dashboard grid layout
<div class="grid-container">
  <div class="menu-icon">
    <i class="fas fa-bars"></i>
  </div>
</div>

<aside class="sidena">
  <div class="sidena__close-icon">
    <i class="fas fa-times"></i>
  </div>
</aside>

  <main class="main">
    <div class="main-header">
    <div class="main-header__heading">Hello User</div>
    <div class="main-header__updates">Recent Items</div>
    </div>
  <div class="main-overview">
  <div class="overviewcard">
    <div class="overviewcard__icon">Overview</div>
    <div class="overviewcard__info">Card</div>
  </div>
  <div class="overviewcard">
    <div class="overviewcard__icon">Overview</div>
    <div class="overviewcard__info">Card</div>
  </div>
  <div class="overviewcard">
    <div class="overviewcard__icon">Overview</div>
    <div class="overviewcard__info">Card</div>
  </div>
  <div class="overviewcard">
    <div class="overviewcard__icon">Overview</div>
    <div class="overviewcard__info">Card</div>
  </div>
  </div>
  <div class="main-cards">
  <div class="card">Card</div>
  <div class="card">Card</div>
  <div class="card">Card</div>
</div>
  </main>
  
  <footer class="footer">
  <div class="footer__copyright">&copy; 2018 MTH</div>
  <div class="footer__signature">Made with love by pure genius</div>
  </footer>
</div>
{% endblock content %}

{% block css %}
<style type="text/css">
/* Hamburger menu icon, stays fixed on mobile for any possible scrolling */
.menu-icon {
  position: fixed;
  display: flex;
  top: 5px;
  left: 10px;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  z-index: 1;
  cursor: pointer;
  padding: 12px;
  background-color: #DADAE3;
}

/* Make room for the menu icon on mobile */
.header__search {
  margin-left: 42px;
}

/* Mobile-first side nav styles */
.sidena {
  grid-area: sidena;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 240px;
  position: fixed;
  overflow-y: auto;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
  z-index: 2; /* Needs to sit above the hamburger menu icon */
  background-color: #394263;
  transform: translateX(-245px);
  transition: all .6s ease-in-out;
}

/* The active class is toggled on hamburger and close icon clicks */
.sidena.active {
  transform: translateX(0);
}

/* Only visible on mobile screens */
.sidena__close-icon {
  position: absolute;
  visibility: visible;
  top: 8px;
  right: 12px;
  cursor: pointer;
  font-size: 20px;
  color: #ddd;
}

/* Non-mobile styles for side nav responsiveness, 750px breakpoint */
@media only screen and (min-width: 46.875em) {
  .sidena {
    position: relative; /* Fixed position on mobile */
    transform: translateX(0);
  }

  .sidena__close-icon {
    visibility: hidden;
  }
}
  .main-cards {
    column-count: 2;
    column-gap: 20px;
    margin: 20px;
  }
  
  .card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: #82bef6;
    margin-bottom: 20px;
    -webkit-column-break-inside: avoid;
    padding: 24px;
    box-sizing: border-box;
  }
  /* Force varying heights to simulate dynamic content */
  .card:first-child {
    height: 485px;
  }
  .card:nth-child(2) {
    height: 200px;
  }
  .card:nth-child(3) {
    height: 265px;
  }
   .main-overview {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(265px, 1fr)); /* Where the magic happens */
    grid-auto-rows: 94px;
    grid-gap: 20px;
    margin: 20px;
  }
  
  .overviewcard {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: #d3d3;
  }
  .sidena {
    display: flex; /* Will be hidden on mobile */
    flex-direction: column;
    grid-area: sidena;
    background-color: #394263;
  }
  .sidena__list {
    padding: 0;
    margin-top: 85px;
    list-style-type: none;
  }
  .sidena__list-item {
    padding: 20px 20px 20px 40px;
    color: #ddd;
  }
  .sidena__list-item:hover {
    background-color: rgba(255, 255, 255, 0.2);
    cursor: pointer;
  }  
  

/* Simple dashboard grid CSS */
  .main-header {
    display: flex;
    justify-content: space-between;
    margin: 20px;
    padding: 20px;
    height: 150px; /* Force our height since we don't have actual content yet */
    background-color: #e3e4e6;
    color: slategray;
  }
  .main-header {
    display: flex;
    justify-content: space-between;
    margin: 20px;
    padding: 20px;
    height: 150px; /* Force our height since we don't have actual content yet */
    background-color: #e3e4e6;
    color: slategray;
  }
  .header, .footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 16px;
    background-color: #648ca6;
  }

/* Assign grid instructions to our parent grid container */
</style>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script>
    const menuIconEl = $('.menu-icon');
    const sidenavEl = $('.sidena');
    const sidenavCloseEl = $('.sidena__close-icon');

    // Add and remove provided class names
    function toggleClassName(el, className) {
      if (el.hasClass(className)) {
        el.removeClass(className);
      } else {
        el.addClass(className);
      }
    }

    // Open the side nav on click
    menuIconEl.on('click', function() {
      toggleClassName(sidenavEl, 'active');
    });

    // Close the side nav on click
    sidenavCloseEl.on('click', function() {
      toggleClassName(sidenavEl, 'active');
    });
  </script>
{% endblock %}