                    
<div class="navbar navbar-default navbar-static-top">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="index.html"><img src="/templates/1/img/logo.png" alt="logo"/></a>
		</div>
		<div class="navbar-collapse collapse ">
			<ul class="nav navbar-nav">
				<li class="active"><a href="index.html">{{data.slug}}</a></li> 
				<li><a href="about.html"><i class="fa fa-gear"></i>About Us<i class="fa fa-gear"></i></a></li>
				<li><a href="courses.html"><i class="fa fa-dropbox"></i>Courses<i class="fa fa-dropbox"></i></a></li>
				<li><a href="portfolio.html"><i class="fa fa-paper-plane-o"></i>Portfolio<i class="fa fa-paper-plane-o"></i></a></li>
				<li><a href="pricing.html"><i class="fa fa-compass"></i>Pricing<i class="fa fa-compass"></i></a></li>
				<li><a href="contact.html"><i class="fa fa-futbol-o"></i>Contact<i class="fa fa-futbol-o"></i></a></li>
			</ul>
		</div>
	</div>
</div>


<a href="#" class="scrollup"><i class="fa fa-angle-up active"></i></a>
<!-- javascript
    ================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="js/jquery.js"></script>
<script src="js/jquery.easing.1.3.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/jquery.fancybox.pack.js"></script>
<script src="js/jquery.fancybox-media.js"></script> 
<script src="js/portfolio/jquery.quicksand.js"></script>
<script src="js/portfolio/setting.js"></script>
<script src="js/jquery.flexslider.js"></script>
<script src="js/animate.js"></script>
<script src="js/custom.js"></script>
<script src="js/owl-carousel/owl.carousel.js"></script>
</body>
</html>