<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="webthemez">
    <title>{{data.slug}}</title>

	<!-- core CSS -->
    {% if data.zite == '1' %}
    <link href="/templates/1/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/templates/1/css/fancybox/jquery.fancybox.css" rel="stylesheet">
    <link href="/templates/1/css/jcarousel.css" rel="stylesheet" />
    <link href="/templates/1/css/flexslider.css" rel="stylesheet" />
    <link href="/templates/1/js/owl-carousel/owl.carousel.css" rel="stylesheet">
    <link href="/templates/1/css/style.css" rel="stylesheet" />
    {% endif %}

    {% if data.zite == '1' %}
    <link href="/templates/2/css/bootstrap.min.css" rel="stylesheet">
    <link href="/templates/2/css/font-awesome.min.css" rel="stylesheet">
    <link href="/templates/2/css/animate.min.css" rel="stylesheet"> 
    <link href="/templates/2/css/prettyPhoto.css" rel="stylesheet">
    <link href="/templates/2/css/styles.css" rel="stylesheet">     
    <link rel="shortcut icon" href="/templates/2/images/ico/favicon.ico"> 
    {% endif %}
    
    {% if data.zite == '1' %}
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,600">
    <link rel="stylesheet" href="/templates/12/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="/templates/12/assets/css/fancybox/jquery.fancybox.css" >
    <link rel="stylesheet" href="/templates/12/assets/css/style.css"> 
    <link rel="stylesheet" href="/templates/12/assets/css/animate.min.css">
    <link rel="stylesheet" href="/templates/12/assets/css/font-awesome.min.css">
    {% endif %}
    
    {% if data.zite == '1' %}
    <link href="/templates/1/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/templates/1/css/fancybox/jquery.fancybox.css" rel="stylesheet">
    <link href="/templates/1/css/jcarousel.css" rel="stylesheet" />
    <link href="/templates/1/css/flexslider.css" rel="stylesheet" />
    <link href="/templates/1/js/owl-carousel/owl.carousel.css" rel="stylesheet">
    <link href="/templates/1/css/style.css" rel="stylesheet" />
    {% endif %}

    {% load static %}
    <!-- Bootstrap Styles-->
    <link href="/templates/demo/assets/css/bootstrap.css" rel="stylesheet" />
    <!-- FontAwesome Styles-->
    <link href="/templates/demo/assets/css/font-awesome.css" rel="stylesheet" />
    <!-- Morris Chart Styles-->
    <link href="/templates/demo/assets/js/morris/morris-0.4.3.min.css" rel="stylesheet" />
    <!-- Custom Styles-->
    <link href="/templates/demo/assets/css/custom-styles.css" rel="stylesheet" />
    <!-- Google Fonts-->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css' /> 
    
</head> 

<body>
  {% include 'demo/index.html' %}






























































    {% if data.zite == '1' %}
        {% include '1/navbar.html' %}
    {% elif data.zite == '2' %}
    <nav class="navbar navbar-fixed-top navbar-inverse" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="http://startbootstrap.com">Start Bootstrap</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse navbar-ex1-collapse">
          <ul class="nav navbar-nav">
            <li><a href="#about">About</a></li>
            <li><a href="#services">Services</a></li>
            <li><a href="#contact">Contact</a></li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container -->
    </nav>
    

    {% if data.zite == '1' %}
        {% include '1/services.html' %}
    {% elif data.zite == '2' %}
    {% endif %}

    <div class="container">

      <div class="row">

        <div class="col-lg-12">
          <h1 class="page-header">3 Col Portfolio <small>Showcase Your Work</small></h1>
        </div>

      </div>

      <div class="row">

        <div class="col-md-4 portfolio-item">
          <a href="#project-link"><img class="img-responsive" src="http://placehold.it/700x400"></a>
          <h3><a href="#project-link">Project Name</a></h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>
        </div>

        <div class="col-md-4 portfolio-item">
          <a href="#project-link"><img class="img-responsive" src="http://placehold.it/700x400"></a>
          <h3><a href="#project-link">Project Name</a></h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>
        </div>

        <div class="col-md-4 portfolio-item">
          <a href="#project-link"><img class="img-responsive" src="http://placehold.it/700x400"></a>
          <h3><a href="#project-link">Project Name</a></h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>
        </div>

      </div>

      <hr>

    {% if data.pricing.all %}
    {% include 'pricing.html'%}
    {% endif%}


      <div class="row text-center">
        <div class="col-lg-12">
          <ul class="pagination">
            <li><a href="#">&laquo;</a></li>
            <li class="active"><a href="#">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li><a href="#">5</a></li>
            <li><a href="#">&raquo;</a></li>
          </ul>        
        </div>
      </div>

    </div><!-- /.container -->

    <div class="container">
      <hr>
      <footer>
        <div class="row">
          <div class="col-lg-12">
            <p>Copyright &copy; Company <span id="getCurrentDate"></span></p>
          </div>
        </div>
      </footer>
    </div><!-- /.container -->
   
  
    <footer id="footer">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    &copy; 2016 Company Name. Template by <a target="_blank" href="http://webthemez.com/" title="Free Bootstrap Themes and HTML Templates">WebThemez.com</a>
                </div>
                <div class="col-sm-6">
                    <ul class="social-icons">
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                        <li><a href="#"><i class="fa fa-linkedin"></i></a></li> 
                        <li><a href="#"><i class="fa fa-youtube"></i></a></li>
                        <li><a href="#"><i class="fa fa-github"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer><!--/#footer-->
    {% endif %}

    <!-- JavaScript -->
    {% if data.zite == '1' %}
    <script src="js/jquery-1.10.2.js"></script>
    <script src="js/bootstrap.js"></script>
    <script type="text/javascript">
      var dt = new Date();
      document.getElementById('getCurrentDate').innerHTML = dt.getFullYear();
    </script>
    <script src="/templates/9/js/jquery.js"></script>
    <script src="/templates/9/js/bootstrap.min.js"></script> 
    <script src="/templates/9/js/mousescroll.js"></script>
    <script src="/templates/9/js/smoothscroll.js"></script>
    <script src="/templates/9/js/jquery.prettyPhoto.js"></script>
    <script src="/templates/9/js/jquery.isotope.min.js"></script>
    <script src="/templates/9/js/jquery.inview.min.js"></script>
    <script src="/templates/9/js/wow.min.js"></script>
    <script src="/templates/9/js/custom-scripts.js"></script>
    {% endif %}

  <script src="/templates/demo/assets/js/jquery-1.10.2.js"></script>
  <!-- Bootstrap Js -->
  <script src="/templates/demo/assets/js/bootstrap.min.js"></script>
  <!-- Metis Menu Js -->
  <script src="/templates/demo/assets/js/jquery.metisMenu.js"></script>
  <!-- Morris Chart Js -->
  <script src="/templates/demo/assets/js/morris/raphael-2.1.0.min.js"></script>
  <script src="/templates/demo/assets/js/morris/morris.js"></script>
	<script src="/templates/demo/assets/js/easypiechart.js"></script>
	<script src="/templates/demo/assets/js/easypiechart-data.js"></script>
  <script src="/templates/demo/assets/js/Lightweight-Chart/jquery.chart.js"></script>
  <!-- Custom Js -->
  <script src="/templates/assets/js/custom-scripts.js"></script>

</body>
</html>