{% extends "base.html" %}

{% block search%}
{% include 'search.html' %}
{% endblock %}

{% block filters %}

  {% if value == 'profiles' or value == 'users' %}
    {% include 'filters_profile.html' %}
  {% endif %}

{% endblock %}

{% block content %}
<section class="section section-sm pt-0">
  <div class="container">
      <div class="row justify-content-center mb-5 mb-lg-6">
          <div class="col-12 text-center">
              <h2 class="h1 px-lg-5">Top 10 Zites</h2>
              <p class="lead px-lg-10">Explore for Free</p>
          </div>
      </div>

      <div class="row mb-5">
        {% for data in page_obj %}
        <div class="col-6 mb-5">
            <a href="/dashboard.html" class="page-preview page-preview-lg scale-up-hover-2">
                <img class="shadow-lg rounded scale" src="/static/assets/img/pages/overview.jpg" alt="Dashboard page preview">
                <div class="text-center show-on-hover">
                    <h6 class="m-0 text-center text-white">{{ data.user }} <i class="fas fa-external-link-alt ml-2"></i></h6>
                </div>
            </a>
        </div>
        {% endfor %}
      </div>
  </div>
</section>
{% endblock %}

{% block Pagination%}
{% include 'pagination.html' %}
{% endblock%}